@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This application Management System provide the facility of registration process for the student and faculty and account avtivation thuough the email verification.
    It's provide the login for both atudent and faculty student can see his detais along with the assignment uploaded by the faculty.
    In faculty section any faculty can login and access his personal detail along with all the student detail and faculty also upload assignment which is accessible by all the student.

</p>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script>
    $(document).ready(function () {
        alert("alert method in function");
    })
</script>