
@{
    ViewBag.Title = "ActivatePage";
}

<h2>Registration Confermation Page</h2>
<br/><br/>
<h3>Your Registration is confirm. Use your email amd password for login  </h3>
<br/><br/>
<h1>Thank you(:</h1>

