
@{
    ViewBag.Title = "StudentActivatePage";
}

<h2>Registration Confermation Page</h2>
<br /><br />
<h3>Your Registration is confirm. Use your email amd password for login  </h3>
<h3>Click hear for login:</h3>
<button>@Html.ActionLink("Student Login", "StudentLoginForm")</button>
<br /><br />
<h1>Thank you(:</h1>

